<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ERROR</title>
    <style>
        body {
            margin: 0;
            padding: 20px;
            font-family: "Lucida Grande", Verdana, Geneva, Sans-serif;
            font-size: 14px;
            color: #4F5155;
            background-color: #fff;
        }
        a {
            color: #003399;
            background-color: transparent;
            text-decoration: none;
            font-weight: normal;
        }
        a:visited {
            color: #003399;
            background-color: transparent;
            text-decoration: none;
        }
        a:hover {
            color: #000;
            text-decoration: underline;
            background-color: transparent;
        }
    </style>
</head>
<body>
    <h1>An Error was encountered</h1>
    <p>
        {{ error }}
    </p>

    <p>
     <a href="/">Visit the Home Page</a>
    </p>
    
</body>
</html>