
# to run with short tag style: <?=$variable?> uncomment below row
#php_value short_open_tag 1

# to debug or profile your app with xdebug, uncomment below rows (and install xdebug)
#php_value xdebug.profiler_output_dir /tmp
#php_value xdebug.profiler_output_name cachegrind.out.%s.%u
#php_value xdebug.profiler_enable 1

# to run without "/index.php/" uncomment below  rows (be sure that mod_rewrite is enabled)
# about how configure RewriteBase please read "README" file


#php_admin_value open_basedir "/home/felice/public_html:/tmp"

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
