
{# Index.twig #}


{% extends 'Demo.layout.twig' %}


{% block title %} Rapyd-Framework Demos {% endblock %}


{% block content %}


    <h3>Running demo module</h3>

    <ul>
        <li>configure a valid db connection in /App/Config/db.php</li>
        <li>then click on <a href="/demo/schema">Schema Builder</a> link </li>
        <li>then you can run all demos on the main menu</li>
    </ul>
   

    <h3>About Rapyd Framework</h3>

    <p>
        Rapyd is a PHP microframework for PHP 5.3 built on top of Slim Framework, Twig, Symfony Forms, Illuminate/Database, Twitter Bootstrap.
        It implement <strong>MVC</strong> and <strong>CRUDL</strong> patterns. <br />
        <br />
        There is no much documentation about Rapyd, so this demo mudule is the way to find how to make things.<br /> 
        Please do not hit me, Rapyd is built on top of well-documented projects.<br />
        
        
    </p>

    
    <p>
        <a href="http://www.slimframework.com/">Slim Framework</a><br />
        slim is basically a magnificent router, It's used as base of Rapyd/Application<br />
        (a layer to implement <strong>Controllers</strong> and manage modules organization, routing etc.)
    </p>
    

    <p>
        <a href="http://twig.sensiolabs.org/">Twig</a><br />
        simply the best template engine (our <strong>Views</strong> are twig powered)
    </p>
    
    <p>
        <a href="http://getbootstrap.com/">Symfony Forms</a><br />
        you can use Symfony Forms in rapyd, without using "Symfony"
    </p>
    
    <p>
        <a href="http://four.laravel.com/docs/database">Illuminate/Database</a><br />
        from laravel 4, It include DB Schema Builder, Fluent Query Builder, and the smart Eloquent ORM (the base of Rapyd <strong>Models</strong>)
    </p>
    

    <p>
        <a href="http://getbootstrap.com/">Twitter Bootstrap</a><br />
        one of the best HTML/CSS frameworks
    </p>
    

{% endblock %}

