/* styles for datagrid */

/*
.datagrid {}
table.grid {border: none;}

table.grid td {font-family: "Lucida Grande", Verdana, Geneva, Sans-serif;}
table.collapsed {margin:0;	width:100%; border-collapse:collapse; padding:0;}

table.grid img {border:0;}

.dg_header {font-size:1.2em; color: #555; font-weight: bold; clear:both; border-bottom: 1px solid #ECECEC; height:22px; padding:4px; }
.dg_header .button {font-weight: normal;}
.dg_footer {clear:both; border-color: #92B8CB; border-top:1px solid #ECECEC; height:22px; padding:4px; color: #153D51; font-size: 0.8em;	font-weight: bold;}
.dg_content {clear:both; padding:2px;}

tr.odd {background-color:inherit;}
tr.even {background-color:#FCFCFC;}

td.table_header {background: #f9f9f9; border-bottom: 1px solid #cccccc;	color: #999999;	font-size: 1em;}
td.table_header_clean {background: #f9f9f9; color: #999999; font-size: 1em;}
td.table_row {color: #153D51;	border-bottom: 1px solid #ECECEC;}
*/